:root {
  /* Buscador */
  --border-radius-color: rgba(42, 42, 243, 0.671);

  /* Tendencias */
  --tendencias-bg-color: rgba(87, 87, 87, 0.5);
  --tendencias-font-color-a: rgb(153, 177, 238);
  /* Noticias */
  --noticias-font-color-p: rgb(165, 164, 164);
  --main-bg-color: black;
  --font-Color: #fff;
  --font-grey: grey;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Tweeeeeeeet-------------------------------------------------------------------------------- */
  .singleTweet {
    margin-bottom: 30px;
    transition: 1.2s;
    padding: 10px;
    border-radius: 60px;
  }

  .singleTweet img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .singleTweet em {
    color: grey;
  }
  .singleTweet p {
    color: #fff;
    font-size: 0.938rem;
    margin-bottom: 4px;
    margin-left: 30px;
  }

  .singleTweet i {
    margin-top: 10px;
    color: grey;
  }
  /* Tweeeeeeeet-------------------------------------------------------------------------------- */

  #userInfo {
    /* margin-left: 10px; */
    display: inline-block;
  }

  #followBtn {
    /* margin-left: 10px; */
    display: inline-block;
  }

  /* Right Side-------------------------------------------------------------------------------- */

  /* Middle Side-------------------------------------------------------------------------------- */
  #inicio h1 {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 20px;
  }

  #bgImg {
    background-image: url("https://i.pinimg.com/originals/39/42/6b/39426b48f954bbb2da6a9bc88bbe26c7.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
  }

  #profileInfo #imgContainer {
    display: flex;
    flex-direction: column;
    height: 110%;
    justify-content: flex-end;
    float: left;
  }
  #profileInfo img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
  }

  #profileInfo h2 {
    font-size: 1.28rem;
  }
  #profileInfo em {
    display: block;
    font-size: 0.94rem;
    margin-bottom: 10px;
    color: grey;
  }

  #contactInfo {
    color: #fff;
  }
  #profileInfo hr {
    color: #fff;
  }

  .bgBlack {
    color: #fff;
    background-color: black !important;
  }

  .bgBlack input[type="text"],
  .bgBlack input[type="number"] {
    color: #fff;

    background-color: black !important;
  }

  .bgBlack input[type="text"]:focus,
  .bgBlack input[type="number"]:focus {
    outline: none !important;
    border: 2px solid rgb(207, 42, 138);
    box-shadow: 0 0 10px #f1c4e4;
  }
  .bgGrey {
    background-color: rgba(151, 145, 145, 0.164);
  }
  /* Middle Side-------------------------------------------------------------------------------- */

  .followButton {
    margin-top: 5px;
  }

  .redHeart {
    color: rgb(249, 24, 128) !important;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Tweeeeeeeet-------------------------------------------------------------------------------- */
  .singleTweet {
    margin-bottom: 30px;
    transition: 1.2s;
    padding: 10px;
    border-radius: 60px;
  }

  .singleTweet:hover {
    background-color: rgba(119, 118, 118, 0.89);
    cursor: pointer;
  }
  .singleTweet img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .singleTweet em {
    color: grey;
  }
  .singleTweet p {
    color: #fff;
    font-size: 0.938rem;
    margin-bottom: 4px;
    margin-left: 30px;
  }

  .singleTweet i {
    margin-top: 10px;
    color: grey;
  }
  /* Tweeeeeeeet-------------------------------------------------------------------------------- */

  #userInfo {
    /* margin-left: 10px; */
    display: inline-block;
  }

  #followBtn {
    /* margin-left: 10px; */
    display: inline-block;
  }

  /* Right Side-------------------------------------------------------------------------------- */

  /* Middle Side-------------------------------------------------------------------------------- */
  #inicio h1 {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 20px;
  }

  #bgImg {
    background-image: url("https://i.pinimg.com/originals/39/42/6b/39426b48f954bbb2da6a9bc88bbe26c7.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
  }

  #profileInfo #imgContainer {
    display: flex;
    flex-direction: column;
    height: 110%;
    justify-content: flex-end;
    float: left;
  }
  #profileInfo img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
  }

  #profileInfo h2 {
    font-size: 1.28rem;
  }
  #profileInfo em {
    display: block;
    font-size: 0.94rem;
    margin-bottom: 10px;
    color: grey;
  }

  #contactInfo {
    color: #fff;
  }
  #profileInfo hr {
    color: #fff;
  }

  .bgBlack {
    color: #fff;
    background-color: black !important;
  }

  .bgBlack input[type="text"],
  .bgBlack input[type="number"] {
    color: #fff;

    background-color: black !important;
  }

  .bgBlack input[type="text"]:focus,
  .bgBlack input[type="number"]:focus {
    outline: none !important;
    border: 2px solid rgb(207, 42, 138);
    box-shadow: 0 0 10px #f1c4e4;
  }
  .bgGrey {
    background-color: rgba(151, 145, 145, 0.164);
  }
  /* Middle Side-------------------------------------------------------------------------------- */

  .followButton {
    margin-top: 5px;
  }

  .redHeart {
    color: rgb(249, 24, 128) !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Tweeeeeeeet-------------------------------------------------------------------------------- */
  .singleTweet {
    margin-bottom: 30px;
    transition: 1.2s;
    padding: 10px;
    border-radius: 60px;
  }

  .singleTweet:hover {
    background-color: rgba(119, 118, 118, 0.89);
    cursor: pointer;
  }
  .singleTweet img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .singleTweet em {
    color: grey;
  }
  .singleTweet p {
    color: #fff;
    font-size: 0.938rem;
    margin-bottom: 4px;
    margin-left: 30px;
  }

  .singleTweet i {
    margin-top: 10px;
    color: grey;
  }
  /* Tweeeeeeeet-------------------------------------------------------------------------------- */

  #userInfo {
    /* margin-left: 10px; */
    display: inline-block;
  }

  #followBtn {
    /* margin-left: 10px; */
    display: inline-block;
  }

  /* Right Side-------------------------------------------------------------------------------- */

  /* Middle Side-------------------------------------------------------------------------------- */
  #inicio h1 {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 20px;
  }

  #bgImg {
    background-image: url("https://i.pinimg.com/originals/39/42/6b/39426b48f954bbb2da6a9bc88bbe26c7.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
  }

  #profileInfo #imgContainer {
    display: flex;
    flex-direction: column;
    height: 110%;
    justify-content: flex-end;
    float: left;
  }
  #profileInfo img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
  }

  #profileInfo h2 {
    font-size: 1.28rem;
  }
  #profileInfo em {
    display: block;
    font-size: 0.94rem;
    margin-bottom: 10px;
    color: grey;
  }

  #contactInfo {
    color: #fff;
  }
  #profileInfo hr {
    color: #fff;
  }

  .bgBlack {
    color: #fff;
    background-color: black !important;
  }

  .bgBlack input[type="text"],
  .bgBlack input[type="number"] {
    color: #fff;

    background-color: black !important;
  }

  .bgBlack input[type="text"]:focus,
  .bgBlack input[type="number"]:focus {
    outline: none !important;
    border: 2px solid rgb(207, 42, 138);
    box-shadow: 0 0 10px #f1c4e4;
  }
  .bgGrey {
    background-color: rgba(151, 145, 145, 0.164);
  }
  /* Middle Side-------------------------------------------------------------------------------- */

  .followButton {
    margin-top: 5px;
  }

  .redHeart {
    color: rgb(249, 24, 128) !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Tweeeeeeeet-------------------------------------------------------------------------------- */
  .singleTweet {
    margin-bottom: 30px;
    transition: 1.2s;
    padding: 10px;
    border-radius: 60px;
  }

  .singleTweet:hover {
    background-color: rgba(119, 118, 118, 0.89);
    cursor: pointer;
  }
  .singleTweet img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .singleTweet em {
    color: grey;
  }
  .singleTweet p {
    color: #fff;
    font-size: 0.938rem;
    margin-bottom: 4px;
    margin-left: 30px;
  }

  .singleTweet i {
    margin-top: 10px;
    color: grey;
  }
  /* Tweeeeeeeet-------------------------------------------------------------------------------- */

  #userInfo {
    /* margin-left: 10px; */
    display: inline-block;
  }

  #followBtn {
    /* margin-left: 10px; */
    display: inline-block;
  }

  /* Right Side-------------------------------------------------------------------------------- */

  /* Middle Side-------------------------------------------------------------------------------- */
  #inicio h1 {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 20px;
  }

  #bgImg {
    background-image: url("https://i.pinimg.com/originals/39/42/6b/39426b48f954bbb2da6a9bc88bbe26c7.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
  }

  #profileInfo #imgContainer {
    display: flex;
    flex-direction: column;
    height: 110%;
    justify-content: flex-end;
    float: left;
  }
  #profileInfo img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
  }

  #profileInfo h2 {
    font-size: 1.28rem;
  }
  #profileInfo em {
    display: block;
    font-size: 0.94rem;
    margin-bottom: 10px;
    color: grey;
  }

  #contactInfo {
    color: #fff;
  }
  #profileInfo hr {
    color: #fff;
  }

  .bgBlack {
    color: #fff;
    background-color: black !important;
  }

  .bgBlack input[type="text"],
  .bgBlack input[type="number"] {
    color: #fff;

    background-color: black !important;
  }

  .bgBlack input[type="text"]:focus,
  .bgBlack input[type="number"]:focus {
    outline: none !important;
    border: 2px solid rgb(207, 42, 138);
    box-shadow: 0 0 10px #f1c4e4;
  }
  .bgGrey {
    background-color: rgba(151, 145, 145, 0.164);
  }
  /* Middle Side-------------------------------------------------------------------------------- */

  .followButton {
    margin-top: 5px;
  }

  .redHeart {
    color: rgb(249, 24, 128) !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Tweeeeeeeet-------------------------------------------------------------------------------- */
  .singleTweet {
    margin-bottom: 30px;
    transition: 1.2s;
    padding: 10px;
    border-radius: 60px;
  }

  .singleTweet:hover {
    background-color: rgba(119, 118, 118, 0.89);
    cursor: pointer;
  }
  .singleTweet img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .singleTweet em {
    color: grey;
  }
  .singleTweet p {
    color: #fff;
    font-size: 0.938rem;
    margin-bottom: 4px;
    margin-left: 30px;
  }

  .singleTweet i {
    margin-top: 10px;
    color: grey;
  }
  /* Tweeeeeeeet-------------------------------------------------------------------------------- */

  #userInfo {
    /* margin-left: 10px; */
    display: inline-block;
  }

  #followBtn {
    /* margin-left: 10px; */
    display: inline-block;
  }

  /* Right Side-------------------------------------------------------------------------------- */

  /* Middle Side-------------------------------------------------------------------------------- */
  #inicio h1 {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 20px;
  }

  #bgImg {
    background-image: url("https://i.pinimg.com/originals/39/42/6b/39426b48f954bbb2da6a9bc88bbe26c7.jpg");
    width: 100%;
    height: 250px;
    background-size: cover;
  }

  #profileInfo #imgContainer {
    display: flex;
    flex-direction: column;
    height: 110%;
    justify-content: flex-end;
    float: left;
  }
  #profileInfo img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
  }

  #profileInfo h2 {
    font-size: 1.28rem;
  }
  #profileInfo em {
    display: block;
    font-size: 0.94rem;
    margin-bottom: 10px;
    color: grey;
  }

  #contactInfo {
    color: #fff;
  }
  #profileInfo hr {
    color: #fff;
  }

  .bgBlack {
    color: #fff;
    background-color: black !important;
  }

  .bgBlack input[type="text"],
  .bgBlack input[type="number"] {
    color: #fff;

    background-color: black !important;
  }

  .bgBlack input[type="text"]:focus,
  .bgBlack input[type="number"]:focus {
    outline: none !important;
    border: 2px solid rgb(207, 42, 138);
    box-shadow: 0 0 10px #f1c4e4;
  }
  .bgGrey {
    background-color: rgba(151, 145, 145, 0.164);
  }
  /* Middle Side-------------------------------------------------------------------------------- */

  .followButton {
    margin-top: 5px;
  }

  .redHeart {
    color: rgb(249, 24, 128) !important;
  }
}
