:root {
  /* Buscador */
  --border-radius-color: rgba(42, 42, 243, 0.671);

  /* Tendencias */
  --tendencias-bg-color: rgba(87, 87, 87, 0.5);
  --tendencias-font-color-a: rgb(153, 177, 238);
  /* Noticias */
  --noticias-font-color-p: rgb(165, 164, 164);
  --main-bg-color: black;
  --font-Color: #fff;
  --font-grey: grey;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #middleSideHome {
    border: 0.1px solid grey;
  }

  body {
    background-color: var(--main-bg-color) !important;
    padding-left: 30px;
    padding-right: 30px;
  }

  input[type="text"]:focus {
    outline: none !important;
    border: 2px solid rgb(207, 42, 138);
    box-shadow: 0 0 10px #f1c4e4;
  }

  /* Tweeeeeeeet-------------------------------------------------------------------------------- */
  .singleTweet {
    margin-bottom: 30px;
    transition: 1.2s;
    padding: 10px;
  }
  .singleTweet a {
    text-decoration: none;
    color: #fff;
  }
  .singleTweet a:hover {
    text-decoration: underline;
    color: #fff;
  }

  .singleTweet:hover {
    background-color: rgb(31, 30, 30);
    cursor: pointer;
  }
  .singleTweet img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .singleTweet em {
    color: grey;
  }
  .singleTweet p {
    color: #fff;
    font-size: 0.938rem;
    margin-bottom: 4px;
    margin-left: 30px;
  }

  .singleTweet i {
    margin-top: 10px;
    color: grey;
  }
  /* Tweeeeeeeet-------------------------------------------------------------------------------- */

  /* Right side-------------------------------------------------------------------------------- */
  #buscador {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #buscador input {
    background-color: transparent;
    border-radius: 20px;
    border-color: var(--border-radius-color);
  }

  #buscador label {
    color: var(--font-grey);
  }
  #buscador i {
    margin-right: 15px;
  }

  #tendencias {
    color: var(--font-Color);
    background-color: var(--tendencias-bg-color);
    border-radius: 20px;
    padding-bottom: 10px;
  }

  #tendencias h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  .noticia {
    color: var(--font-Color);
    margin-bottom: 20px;
    padding: 0 20px;
    transition: 1.2s;
  }

  .noticia:hover {
    background-color: rgba(119, 118, 118, 0.89);
    cursor: pointer;
  }
  .noticia h4 {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .noticia p {
    margin-bottom: 0;
    font-size: 0.94rem;
    color: var(--noticias-font-color-p);
  }

  #tendencias a {
    text-decoration: none;
    color: var(--tendencias-font-color-a);
    padding: 20px;
  }

  /* ------------------------ */

  #whoToFollow {
    margin-top: 20px;
    color: var(--font-Color);
    background-color: var(--tendencias-bg-color);
    border-radius: 20px;
    padding: 20px 0;
  }

  #whoToFollow h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  #whoToFollow .toFollow {
    margin-bottom: 20px;
    transition: 1.2s;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }

  #whoToFollow .toFollow:hover {
    background-color: rgba(119, 118, 118, 0.89);
    cursor: pointer;
  }

  #whoToFollow .toFollow img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    /* margin-left: 10px; */
  }

  #userInfo {
    /* margin-left: 10px; */
    display: inline-block;
  }
  #userInfo h5 a {
    color: #fff !important;
  }
  #userInfo h5 a:hover {
    text-decoration: underline;
  }

  #followBtn {
    /* margin-left: 10px; */
    display: inline-block;
  }

  #whoToFollow .toFollow h5 {
    font-size: 1rem;
  }

  #whoToFollow .toFollow p {
    font-size: 0.94rem;
    color: var(--noticias-font-color-p);
    margin-bottom: 0;
  }

  #whoToFollow .toFollow a {
    /* margin-left: 20px; */
    font-size: 0.9rem;
    height: 40px;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
  }

  #whoToFollow a {
    text-decoration: none;
    color: var(--tendencias-font-color-a);
    padding: 20px;
  }

  #copyright {
    padding: 10px;
  }
  #copyright p {
    color: var(--noticias-font-color-p);
    font-size: 0.84rem;
  }

  /* Right Side-------------------------------------------------------------------------------- */

  /* Middle Side-------------------------------------------------------------------------------- */
  #inicio h1 {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  #QueEstasPensando img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }

  #QueEstasPensando input[type="text"] {
    padding: 10px;
    color: #fff;
    background-color: transparent;
  }

  #QueEstasPensando p {
    margin-bottom: 0;
    padding: 5px;
    color: blue;
  }
  #QueEstasPensando i {
    color: rgb(168, 168, 219);
    font-size: 1.3rem;
  }

  #QueEstasPensando input[type="button"] {
    width: 100px;
    margin-left: 100px;
  }

  #QueEstasPensando hr {
    color: #fff;
  }

  .redHeart {
    color: red !important;
  }

  .whiteFont {
    color: #fff !important;
  }
  /* Middle Side-------------------------------------------------------------------------------- */
}
