:root {
  /* Buscador */
  --border-radius-color: rgba(42, 42, 243, 0.671);

  /* Tendencias */
  --tendencias-bg-color: rgb(21, 24, 28);
  --tendencias-font-color-a: rgb(153, 177, 238);
  /* Noticias */
  --noticias-font-color-p: rgb(165, 164, 164);
  --main-bg-color: black;
  --font-Color: #fff;
  --font-grey: grey;
}

body {
  background-color: var(--main-bg-color);
  /* padding-left: 30px;
  padding-right: 30px; */
}
